<!-- Sidebar -->
<div class="sidebar">
    <a href="#" class="logo" routerLink="/">
        <i class='bx bx-store'></i>
        <div class="logo-name"><span>Market</span>Place</div>
    </a>
    <ul class="side-menu">
        <li><a routerLink="/" routerLinkActive="active"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
        <li><a routerLink="/seller-requests" routerLinkActive="active"><i class='bx bx-user-plus'></i>Gérer les vendeurs</a></li>
        <li><a routerLink="/clients" routerLinkActive="active"><i class='bx bx-user'></i>Gérer les clients</a></li>
        <li><a routerLink="/sellers" routerLinkActive="active"><i class='bx bx-user-check'></i>Gérer les vendeurs actifs</a></li>
        <li><a routerLink="/all-products" routerLinkActive="active"><i class='bx bx-box'></i>Tous les produits</a></li>
        <li><a routerLink="/reviews" routerLinkActive="active"><i class='bx bx-star'></i>Gérer les avis</a></li>
        <li><a routerLink="/contacts" routerLinkActive="active"><i class='bx bx-envelope'></i>Gérer les contacts</a></li>
        <li><a routerLink="/product-categories" routerLinkActive="active"><i class='bx bx-category'></i>Gérer les catégories</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<!-- End of Sidebar -->
